.DS_Store
**/.DS_Store

docs/.obsidian/workspace.json
docs/.obsidian/workspace*.json
docs/.obsidian/workspace-mobile.json
docs/.obsidian/graph.json
docs/.obsidian/cache/
docs/.obsidian/trash/
docs/.obsidian/hotkeys.json
docs/.obsidian/appearance.json
docs/.obsidian/app.json
docs/.obsidian/canvas.json
docs/.obsidian/plugins/**/data.json

docs/*.canvas
